---
import Page from "@/layouts/Page.astro";
import TopPostList from "@/components/TopPostList.astro";
import {
  getPostBySlug,
  getAllSlugs,
  type Post,
  imageUrlFor,
} from "@/lib/Sanity";
import { PortableText } from "astro-portabletext";
import Image from "@/components/post/Image.astro";
import Code from "@/components/post/Code.astro";
import File from "@/components/post/File.astro";
import Codepen from "@/components/post/Codepen.astro";
import Youtube from "@/components/post/Youtube.astro";
import Iframe from "@/components/post/Iframe.astro";

// getStaticPaths関数を設定
export async function getStaticPaths() {
  const slugs = await getAllSlugs();
  return slugs.map((slug) => ({
    params: { slug: slug.current },
  }));
}

// スラグ（slug）を取得
const { slug } = Astro.params;
const post: Post | null = await getPostBySlug(slug);
const components = {
  type: {
    image: Image,
    code: Code,
    file: File,
    iframe: Iframe,
    codepen: Codepen,
    youtube: Youtube,
  },
};

if (!post) {
  throw new Error(`Post not found for slug: ${slug}`);
}

// const value = Astro.props.value;
---

<Page>
  <div class="top-post-list" slot="list">
    <TopPostList />
  </div>
  <div class="content" slot="content">
    <h1>{post.title}</h1>
      {post.mainImage && (
        <img
          class="main-image"
          src={imageUrlFor(post.mainImage).url()}
          alt={post.title}
        />
      )}
    <div>
      <PortableText value={post.body} components={components} />
    </div>
  </div>
</Page>
<style>
  .main-image {
    max-width: 100%;
    margin-bottom: 30px;
  }
</style>
